*{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
    text-align: center;
    
}
body{
    
    background: linear-gradient(90deg, rgb(247, 247, 247), rgb(230, 230, 230));
   
}
.contain{
    width: 90%;
    max-width: 470px;
    background: linear-gradient(145deg, #360ad8, #5344aa);
    color: #fff;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 24px 35px;
    text-align: center;
}
.heading1{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    font-style: italic;
}
.buttonClass{
    border-radius: 40px;
    border: 0;
    width: 100px;
    height: 50px;
    font-size: 20px;
    color: #340bc9;
    cursor: pointer;
}
.selectClass{
    border-radius: 10px;
    border: 0;
    width: 150px;
    height: 40px;
    font-size: 18px;
    color: #340bc9;
    cursor:pointer;
}
.paraClass{
    font-size: larger;
}
.jokePara2{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}
.linkClass{
    font-size: small;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    opacity: 50%;
    cursor: pointer;
}
.roboImg{
    width: 32px;
    height: 32px;
}